.tabs-sorting {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 50px;
}

.tabs-sorting__tab {
  display: flex;
  border: 1px solid #DFE5EC;
  justify-content: center;
  align-items: center;
background-color: white;
}

.tabs-sorting__tab:first-child {
  border-radius: 10px 0 0 10px;
}

.tabs-sorting__tab:last-child {
  border-radius: 0 10px 10px 0;
}

.tabs-sorting__tab:hover {
  cursor: pointer;
  background: #2196F3;
  border-color: #2196F3;
  color: white;

}

