
.errorMsg {
  display: flex;
  align-items: center;
  border: 1px solid;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-color: #FFBABA;
  color: #D8000C;
  height: 60px;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}