@import "src/variable";

.errorMsg {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 15px 10px 15px 50px;
  color: #D8000C;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-color: white;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
  border-radius: $card-br-radius;
  box-shadow: $obj-shadow;
}