@import "./src/variable";

.ticket {
  display: grid;
  gap: 10px;
  background-color: white;
  max-width: 500px;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: $card-br-radius;
}

.price_logo {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.price {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 25px;
  color: #2196F3;
}

.logo {
  margin-left: auto;
}

.information {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gray_text {
  color: #A0B0B9;
  margin-bottom: 5px;
}