.filter-ticket{
  max-width: 232px;
  background-color: white;
  padding-top: 10px;
  border-radius: 5px;
}

.filter-ticket__title{
  margin: 0 10px 10px 10px;


}
.filter-ticket input {
  margin: 0 10px 20px 10px;
}